<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Course">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cintroduce" jdbcType="VARCHAR" property="cintroduce" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="cimg" jdbcType="VARCHAR" property="cimg" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, cname, cintroduce, tid, cimg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Course">
    insert into course (cid, cname, cintroduce, 
      tid, cimg)
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{cintroduce,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{cimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="cintroduce != null">
        cintroduce,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="cimg != null">
        cimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cintroduce != null">
        #{cintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="cimg != null">
        #{cimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Course">
    update course
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cintroduce != null">
        cintroduce = #{cintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="cimg != null">
        cimg = #{cimg,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Course">
    update course
    set cname = #{cname,jdbcType=VARCHAR},
      cintroduce = #{cintroduce,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      cimg = #{cimg,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>