<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Student" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sage" property="sage" jdbcType="INTEGER" />
    <result column="ssex" property="ssex" jdbcType="VARCHAR" />
    <result column="sschool" property="sschool" jdbcType="VARCHAR" />
    <result column="spassword" property="spassword" jdbcType="VARCHAR" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="spic" property="spic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, sname, sage, ssex, sschool, spassword, rid, spic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Student" >
    insert into student (sid, sname, sage, 
      ssex, sschool, spassword, 
      rid, spic)
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{sage,jdbcType=INTEGER}, 
      #{ssex,jdbcType=VARCHAR}, #{sschool,jdbcType=VARCHAR}, #{spassword,jdbcType=VARCHAR}, 
      #{rid,jdbcType=INTEGER}, #{spic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="sage != null" >
        sage,
      </if>
      <if test="ssex != null" >
        ssex,
      </if>
      <if test="sschool != null" >
        sschool,
      </if>
      <if test="spassword != null" >
        spassword,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="spic != null" >
        spic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sage != null" >
        #{sage,jdbcType=INTEGER},
      </if>
      <if test="ssex != null" >
        #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="sschool != null" >
        #{sschool,jdbcType=VARCHAR},
      </if>
      <if test="spassword != null" >
        #{spassword,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="spic != null" >
        #{spic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Student" >
    update student
    <set >
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sage != null" >
        sage = #{sage,jdbcType=INTEGER},
      </if>
      <if test="ssex != null" >
        ssex = #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="sschool != null" >
        sschool = #{sschool,jdbcType=VARCHAR},
      </if>
      <if test="spassword != null" >
        spassword = #{spassword,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="spic != null" >
        spic = #{spic,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Student" >
    update student
    set sname = #{sname,jdbcType=VARCHAR},
      sage = #{sage,jdbcType=INTEGER},
      ssex = #{ssex,jdbcType=VARCHAR},
      sschool = #{sschool,jdbcType=VARCHAR},
      spassword = #{spassword,jdbcType=VARCHAR},
      rid = #{rid,jdbcType=INTEGER},
      spic = #{spic,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>