<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Teacher">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="tage" jdbcType="INTEGER" property="tage" />
    <result column="tsex" jdbcType="VARCHAR" property="tsex" />
    <result column="timage" jdbcType="VARCHAR" property="timage" />
    <result column="tintroduce" jdbcType="VARCHAR" property="tintroduce" />
    <result column="tmajor" jdbcType="VARCHAR" property="tmajor" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="tpassword" jdbcType="VARCHAR" property="tpassword" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, tname, tage, tsex, timage, tintroduce, tmajor, rid, tpassword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Teacher">
    insert into teacher (tid, tname, tage, 
      tsex, timage, tintroduce, 
      tmajor, rid, tpassword
      )
    values (#{tid,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR}, #{tage,jdbcType=INTEGER}, 
      #{tsex,jdbcType=VARCHAR}, #{timage,jdbcType=VARCHAR}, #{tintroduce,jdbcType=VARCHAR}, 
      #{tmajor,jdbcType=VARCHAR}, #{rid,jdbcType=INTEGER}, #{tpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="tage != null">
        tage,
      </if>
      <if test="tsex != null">
        tsex,
      </if>
      <if test="timage != null">
        timage,
      </if>
      <if test="tintroduce != null">
        tintroduce,
      </if>
      <if test="tmajor != null">
        tmajor,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="tpassword != null">
        tpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tage != null">
        #{tage,jdbcType=INTEGER},
      </if>
      <if test="tsex != null">
        #{tsex,jdbcType=VARCHAR},
      </if>
      <if test="timage != null">
        #{timage,jdbcType=VARCHAR},
      </if>
      <if test="tintroduce != null">
        #{tintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tmajor != null">
        #{tmajor,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="tpassword != null">
        #{tpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Teacher">
    update teacher
    <set>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tage != null">
        tage = #{tage,jdbcType=INTEGER},
      </if>
      <if test="tsex != null">
        tsex = #{tsex,jdbcType=VARCHAR},
      </if>
      <if test="timage != null">
        timage = #{timage,jdbcType=VARCHAR},
      </if>
      <if test="tintroduce != null">
        tintroduce = #{tintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tmajor != null">
        tmajor = #{tmajor,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="tpassword != null">
        tpassword = #{tpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Teacher">
    update teacher
    set tname = #{tname,jdbcType=VARCHAR},
      tage = #{tage,jdbcType=INTEGER},
      tsex = #{tsex,jdbcType=VARCHAR},
      timage = #{timage,jdbcType=VARCHAR},
      tintroduce = #{tintroduce,jdbcType=VARCHAR},
      tmajor = #{tmajor,jdbcType=VARCHAR},
      rid = #{rid,jdbcType=INTEGER},
      tpassword = #{tpassword,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>